body {
    background-image: url('table.jpg');
    background-size: 18% 18%;
}

.competenze {
    margin: auto;
    position: relative;
    z-index: 2;
    top: 28px;
    width: 800px;
    height: auto;
    min-height: 400px;
    margin-bottom: 60px;
    background: url('top.png') top no-repeat,url('bottom.png') bottom no-repeat;
}

.competenze:before {
    position: absolute;
    z-index: -1;
    top: 176px;
    bottom: 198px;
    width: 800px;
    content: '';
    background: url('middle.png');
}

.competenze-body {
    padding: 50px 80px 100px 50px;
}

blockquote {
    background: rgba(0, 0, 0, 0.39);
    border-left: 15px solid rgb(214, 126, 67);
    border-radius: 5px 8px 8px 5px;
    padding: 5px 20px;
    margin: 20px 0px 20px 0px;
}

p, li {
    font-family: 'Silom', sans-serif;
    font-size: 18px;
    color: rgb(48, 48, 48);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.178);
}

h2, h3 {
    font-family: 'Upheaval TT (BRK)', sans-serif;
    letter-spacing: 3px;
    color: rgb(238, 238, 238);
    text-shadow: 4px 4px 0px rgba(0,0,0,0.45);
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 24px;
}

mark {
    background: none;
    color: rgb(214, 126, 67);
}

ul {
    list-style-type: square;
}